*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 1rem auto;
    width: 80vw;
    font: 1rem/1.4 Arial, sans-serif;
}

.table--league {
    width: 50%;
    border-collapse: collapse;
}

.table--league__header {
    background: #000;
    color: #fff;
}

.table--league__header__row__cell:nth-child(2) {
    text-align: left;
}

.table--league__body__row {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.table--league__body__row__cell:not(:nth-child(2)) {
    text-align: center;
}

.table--league__body__row:nth-child(1) {
    background: #90dc6b;
}

.table--league__body__row:nth-child(2),
.table--league__body__row:nth-child(3) {
    background: #d0f0c0;
}

.table--league__body__row:nth-child(4),
.table--league__body__row:nth-child(5) {
    background: #97deff;
}

.table--league__body__row:nth-child(18),
.table--league__body__row:nth-child(19),
.table--league__body__row:nth-child(20) {
    background: #fcc;
}
